@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$Primary: #41559b;
$Accent: #da2052;
$Light: #fefff8;
$Dark: #051129;

:root {
  --color-white: #fff;
  --time-animation: 1s;
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 95.95px;
  line-height: 144px;
  margin: 0;
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 59.3px;
  line-height: 89px;
  margin: 0;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36.65px;
  line-height: 55px;
  margin: 0;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22.65px;
  line-height: 34px;
  margin: 0;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.mbutton {
  width: 200px;
  height: 50px;
  background: linear-gradient(
    103.7deg,
    rgba(255, 255, 255, 0.3) 22.79%,
    rgba(255, 255, 255, 0) 116.89%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
}

.sbutton {
  width: 200px;
  height: 50px;
  border: 1px solid #4d5769;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: transparent;
  border-radius: 10px;
  color: #4d5769;
  font-weight: bold;
  font-size: 14px;
}

.abutton {
  width: 50px;
  height: 50px;
  border: 1px solid #4d5769;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: transparent;
  border-radius: 21px;

  &:hover {
    border: 0;
    background: linear-gradient(103.7deg,rgba(255, 255, 255, 0.3) 22.79%,rgba(255, 255, 255, 0) 116.89%);

    svg path {
      fill: $Dark
    }
  }
}

html {
  scrollbar-width: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #040c1c;
  overflow: hidden scroll;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.layout {
  width: 100%;
  height: calc(100vh * 7);
  position: relative;
}
.layout section {
  width: 100%;
  height: 100vh;
  position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  color: var(--color-white);
  // font-size: 80px;
  // font-weight: 600;
  transform: translateY(100vh);
  transition: all var(--time-animation) ease-in-out;
  z-index: 0;
}

.layout .s1 {
  background: linear-gradient(129.5deg, #011131 19.38%, #01102e 26.97%);
  transform: translateY(0);
  z-index: 8;
}
.layout .s2 {
  background: linear-gradient(129.5deg, #01102e 26.97%, #02102b 36.5%);
  z-index: 7;
}
.layout .s3 {
  background: linear-gradient(129.5deg, #02102b 36.5%, #030e25 57.3%);
  z-index: 6;
}
.layout .s4 {
  background: linear-gradient(129.5deg, #030e25 57.3%, #030d22 65.08%);
  z-index: 5;
}
.layout .s5 {
  background: linear-gradient(129.5deg, #030d22 65.08%, #030d20 72.4%);
  z-index: 4;
}
.layout .s6 {
  background: linear-gradient(129.5deg, #030d20 72.4%, #040c1e 78.99%);
  z-index: 3;
}
.layout .s7 {
  background: linear-gradient(129.5deg, #040c1e 78.99%, #040c1c 85.6%);
  z-index: 2;
}
.layout .s8 {
  background: linear-gradient(129.5deg, #011131 19.38%, #040c1c 85.6%);
  z-index: 1;
}

/*** RESPONSIVE ***/
/* MOBILE */
// @media screen and (max-width: 576px) {
//   body::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
//     -webkit-appearance: none;
//   }
//   .layout .section-stick {
//     right: 20px;
//     bottom: 20px;
//     transform: scale(0.7);
//   }
//   .layout section {
//     font-size: 40px;
//   }
// }

// *****************************************************

.pcolor {
  color: $Primary;
}

.acolor {
  color: $Accent;
}

.logo {
  width: 151px;
  height: 34px;
}

.top-nav {
  position: fixed;
  top: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  transform: translate(calc(50vw - 50%));
  z-index: 1000;

  table,
  td {
    div {
      width: 10px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  td {
    // border: 1px solid wheat;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 14px;
  }

  button {
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
      opacity: 70%;
    }
  }
}

.side-nav {
  position: fixed;
  right: 9.5%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  transform: translate(0, calc(50vh - 50%));
  list-style-type: none;
  z-index: 1000;

  li {
    padding-top: 15px;
    padding-bottom: 15px;

    button {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-decoration: none;
      background-color: transparent;
      border: none;

      &:hover {
        opacity: 70%;
      }
    }
  }
}

.dotin {
  width: 10px;
  height: 10px;
  background: radial-gradient(
    57.5% 57.5% at 50% 50%,
    #da2052 0%,
    rgba(218, 32, 82, 0) 100%
  );
  animation: dotfadeInAnimation ease 1s;
}

@keyframes dotfadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dotout {
  width: 10px;
  height: 10px;
  background: radial-gradient(
    57.5% 57.5% at 50% 50%,
    #da2052 0%,
    rgba(218, 32, 82, 0) 100%
  );
  animation: dotfadeOutAnimation ease 1s;
  opacity: 0;
}

@keyframes dotfadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// sound waves effect
.loader {
  position: fixed;
  bottom: 70px;
  right: 9.5%;
  height: 30px;
  display: flex;
  align-items: center;
  z-index: 1000;

  &:hover {
    opacity: 70%;
  }

  .stroke {
    display: block;
    position: relative;
    background: $Primary;
    height: 100%;
    width: 2px;
    margin: 0 3px;
    animation: animatewaves 1.2s linear infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.9s;
    }
    &:nth-child(5) {
      animation-delay: 0.6s;
    }
    &:nth-child(6) {
      animation-delay: 0.3s;
    }
    &:nth-child(7) {
      animation-delay: 0s;
    }
  }
}

.nostroke {
  display: block;
  position: relative;
  background: $Primary;
  height: 6px;
  width: 2px;
  margin: 0 3px;
}

@keyframes animatewaves {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}

.enterButton {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1000;
}

.moving-text {
  height: 100vh;
  grid-column-start: 2;
  transition: all 1s ease;
  transform: rotate(-180deg);
  width: 75px;
  overflow: hidden;

  .marquee1 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 95.95px;
    line-height: 75px;
    -webkit-text-stroke: 1px $Primary;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    height: 100vh;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    animation: scrollText 10s infinite linear;
  }

  .marquee2 {
    font-family: "Poppins";
    font-style: normal;
    font-size: 95.95px;
    line-height: 75px;
    -webkit-text-stroke: 1px $Primary;
    -webkit-text-fill-color: $Primary;
    height: 100vh;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    animation-delay: 5s !important;
    animation: scrollText2 10s infinite linear;
  }
}

@keyframes scrollText {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}

@keyframes scrollText2 {
  0% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
  }
}
